body {
     background-image: url("Screenshot\ 2024-02-14\ at\ 16.12.03.png");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
}
.sidebar{
    height: 750px;
    width: 200px;
    position: fixed;
    margin-top: 20px;
    margin-left: 100px;
    background-color: antiquewhite;
    color: black;
    border-radius: 15px; 

}
.main-content{
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

/* .card-content{
    width: 1100px;
    height: 750px;
    background-color: aliceblue;
    margin-left: 180px;
    border-radius: 15px;
    background-attachment: fixed;
    position: fixed;
    text-align: center;
    overflow: hidden;
   
}
.card-text{
    color: aquamarine;
}

.card {
    width: 1250px;
    height: 750px;
    background-color: rgb(220, 216, 187);
    float:left;
    margin-right: 50px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 15px;
} */
