

body {
    background-image: url(./background\ image.jpeg);   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    background-color: antiquewhite;
    height: 750px;
    width: 1200px;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 15px;
}
img{
    height: 750px;
    width: 1050px;
    margin-left: 150px;
    border-radius: 15px;
}
.Card{
    height: 500px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-left: 550px;
    margin-right: auto;
    margin-top: -600px;
    padding: 15px;
    position: absolute;
    opacity: 0.5;
   
}

.right-aligned {
    text-align: right;

}

.form-group {
    margin-bottom: 20px;
    margin-left: 10px;
}
.form-group label {
    display: hsl(0, 0%, 6%);
    font-weight: bold;
    margin-bottom: 5px;
    color: hsl(120, 8%, 3%);
}
.form-group input,
.form-group textarea {
    width: 90%;
    padding: 8px;
}
.form-group textarea {
    height: 100px;
}
.form-group input[type="submit"] {
    background-color: FFFFFF;
    color:#FFFFFF ;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

Button{
width: 100px;
height: 30px; 
border-radius: 20px; 
margin-left: 60px;
background-color:#837C6A;
color: #FFFFFF;



}

.align-right {
    margin-right: -500;
  }

  .card-content {

    display: flex;
    flex-direction: column;
  }

  .forgot{
    text-decoration: underline; /* Add underline to the link */
    
  }