body {
    background-image: url("/Innocentia/Admin_Salon_PWD/WhatsApp\ Image\ 2024-02-28\ at\ 08.47.21.jpeg");   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    background-color: antiquewhite;
    height: 750px;
    width: 1200px;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 15px;
}
img{
    height: 750px;
    width: 1050px;
    margin-left: 150px;
    border-radius: 15px;
}

.Card {
    position: absolute;
    height:350px;
    width: 470px;
    border-radius: 15px;
    background-color: aliceblue;
    margin-top: -500px;
    margin-left: 450px;
    margin-right: auto;
    border: 5px;
    opacity: 0.5;
}
.form-group {
    margin-bottom: 20px;
    margin-left: 10px;
}
.form-group label {
    display: hsl(0, 0%, 6%);
    font-weight: bold;
    margin-bottom: 5px;
    color: hsl(120, 8%, 3%);
}
.form-group input,
.form-group textarea {
    width: 90%;
    padding: 8px;
}
.form-group textarea {
    height: 100px;
}
.form-group input[type="submit"] {
    background-color: hwb(134 5% 52%);
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
     }


     button{
        height: 30px;
        width: 150px;
        background-color: #837C6A;
        border-radius: 200px;
        color: aliceblue;
     }    