body {
    font-family: Arial, sans-serif;
    background-image: url(/static/WhatsApp\ Image\ 2024-02-27\ at\ 05.22.34.jpeg);
    position: relative;
    background-size: cover;
}
.container{
    max-width: 700px; /* or any other fixed width */
    margin: 0 auto; /* center the container horizontally */
    display: flex;
    background-color: rgb(248, 246, 243);
    height: 700px;
    margin-top: 100px;
    opacity: 0.9;
    border-radius: 15px;

}

h1 {
    margin-bottom: 50px;
    margin-left: 50px;
}


li {
    margin-bottom: 30px;
}

.form {
    margin-bottom: 20px;
    margin-top: 100px;
    margin-left: 110px;
    border: #596e5a;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    width: 200px;
    margin: 10px;
}

button[type="submit"] {
    background-color: hsl(124, 7%, 59%);
    color: white;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 30px;
    border-radius: 10px;
}

button[type="submit"] {
    background-color: #45a049;
    margin-top: 50px;
}
#Description{
    width: 450px;
    height: 50px;
   text-align: start;
   margin-left: 7px;
 
    
}