body {
    background-image: url(/static/WhatsApp\ Image\ 2024-02-27\ at\ 05.22.34.jpeg);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px; /* or any other fixed width */
    margin: 0 auto; /* center the container horizontally */
    display: flex;
}

.sidebar {
    height:800px;
    width: 250px;
    background-color: #DDD0C0;
    color: #030303;
    padding: 20px;
    border-radius: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #050505;
    text-decoration: none;
}

.content {
    background-color: aliceblue;
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    max-width: 1200px;
}
.card1{
    background-color: bisque;
    height: 150px;
    width: 300px;
    padding: 20px;
}
.card1-1{
    background-color: #f5f8fa;
    height: 120px;
    width: 10px;
    padding-top: 20px;
}
.col{
    padding-right: 150px;
    
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: hsl(138, 80%, 42%);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .card-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card1 {
    width: 200px;
    height: 180px;
    background-color: bisque;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 30px
  }
  .card2 {
    width: 260px;
    height: 180px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 30px
  }
  .card3 {
    width: 140px;
    height: 180px;
    background-color: bisque;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 30px
  }
  .card:last-child {
    margin-right: -10;
  }
  .chart-container {
    width: 45%;
    height: 400px;
  }
  .cardChart1 {
    width: 200px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    

  }
  .cardChart2 {
    width: 200px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    

  }
  .cardChart3 {
    width: 200px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    

  }
  
  .card-body {
    padding: 10px;
  }

  .container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
canvas {
    width: 100%;
    height: 400px;
}
  