body {
  background-image: url(/static/WhatsApp\ Image\ 2024-02-27\ at\ 05.22.34.jpeg);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px; /* or any other fixed width */
  margin: 0 auto; /* center the container horizontally */
  display: flex;
}

.sidebar {
  height:800px;
  width: 250px;
  background-color: #DDD0C0;
  color: #030303;
  padding: 20px;
  border-radius: 15px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #050505;
  text-decoration: none;
}

.content {
  background-color: aliceblue;
  flex: 1;
  padding: 20px;
  border-radius: 15px;
  max-width: 1200px;
}
.card1{
  background-color: bisque;
  height: 150px;
  width: 300px;
  padding: 20px;
}
.card1-1{
  background-color: #f5f8fa;
  height: 120px;
  width: 10px;
  padding-top: 20px;
}
.col{
  padding-right: 150px;
}
  .chart {
      color: black;
  }
  
  .content{
  justify-content: auto;
  align-content: flex-end;
  }

  .button {
      background-color: white;
      width: 80px;
      border: none;
      padding: 10px; /* Changed padding to 10px all around */
      border-radius: 5px;
      font-size: 16px;
  }
  .button-container{
      text-align: left;
      margin-left: 20px;
  }

  .button-container button {
      display: inline-block;
      margin-right: 10px; /* Optional: Adds space between buttons */
      background-color: #e7daca,;
      width: 80px;
      height: 30px;
      border-radius: 10px;
  }