body {
    background-image: url(/static/WhatsApp\ Image\ 2024-02-27\ at\ 05.22.34.jpeg);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px; /* or any other fixed width */
    margin: 0 auto; /* center the container horizontally */
    display: flex;
}

.sidebar {
    height:800px;
    width: 250px;
    background-color: #DDD0C0;
    color: #030303;
    padding: 20px;
    border-radius: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #050505;
    text-decoration: none;
}

.content {
    background-color: aliceblue;
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    max-width: 1200px;
}
.button-container {
    text-align: center; /* Optional: Centers the buttons horizontally */
    margin-right: -500px;
}

.button-container button {
    display: inline-block;
    margin-right: 10px; /* Optional: Adds space between buttons */
    background-color: #837C6A;
    width: 120px;
    height: 30px;
    border-radius: 10px; 
   
}
.card {
    height: 80px;
    width:900px;
    background-color: #DDD0C0;
    border: #050505;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;

}

.text-right{
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: hsl(138, 80%, 42%);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }