<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Service Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/static/Addhaircut.css">
       
    </style>
</head>
<body>
    <div class="container">
        <div class="Image-container">
            <form action="/Addhaircut" method="post">
               <div class="form">
                   <center><h1>Add Service</h1></center>
                       <center><h2>Haircut</h2></center>
                           <br><br><br>
            
                                
                                   <input type="text" name="name" placeholder="Name" required>
                                      <input type="number" name="price" placeholder="Price" required><br><br>
                                        <center><button type="submit">Add</button></center>
           
      </div> 
     </form> 
   </div> 
 </div>  
    <script src=""></script> 
</body>
</html>
