<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Innocentia/Admin_Salon_PWD/resetpas.css">
    </head>
    <body>
        <div class="container">
            <div class="image-container">
                <img src="/Innocentia/Admin_Salon_PWD/5e83ec250197543953fb241914288a96.jpg" alt="background Image">
               
                <div class="Card">
                    <form action="/resetpas/id>" method="patch">
                    <h1><center><b>Reset Password</center></b></h1>
                    <p><center>Enter a new password for reception88@gmail.com</center></p>

                    <div class="form-group">
                        <label for="name">New Password:</label>
                        <input type="password" id="password" name="password" required><br><br>
                    </div>

                    <div class="form-group">
                        <label for="name">Confirm Password:</label>
                        <input type="password" id="confirm password" name="confirm password" required><br><br>
                    </div>


                    <div class="form-group">
                    

                    <center><button type="submit">Submit</button></center><br><br>
                </form>
                </div> 
             
                


            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html> 