body {
    background-image: url("/static/WhatsApp\ Image\ 2024-02-26\ at\ 15.57.47.jpeg8");
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px; /* or any other fixed width */
    margin: 0 auto; /* center the container horizontally */
    display: flex;
}

.sidebar {
    height:800px;
    width: 250px;
    background-color: #DDD0C0;
    color: #030303;
    padding: 20px;
    border-radius: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #050505;
    text-decoration: none;
}

.content {
    background-color: aliceblue;
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    max-width: 1200px;
}

.button-container {
    text-align: center; /* Optional: Centers the buttons horizontally */
    margin-right: -500px;
}

.button-container button {
    display: inline-block;
    margin-right: 10px; /* Optional: Adds space between buttons */
    background-color: #837C6A;
    width: 120px;
    height: 30px;
    border-radius: 10px; 
}

.card {
    height: 60px;
    width:900px;
    background-color: #DDD0C0;
    border: #050505;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 20px;
    position: relative;

}