body {
    background-image: url("/static/WhatsApp\ Image\ 2024-02-26\ at\ 15.57.47.jpeg");   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Container{
    background-color: antiquewhite;
    height: 750px;
    width: 1200px;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
}

.container {
    display: flex;

    align-items: center; /* Align buttons vertically */
  }
.back {
    height: 750px;
    width: 1050px;
    margin-left: 150px;
    border-radius: 15px;
}
.logo {
    height: 300px;
    width: 300px;
    margin-top: -5000px;
    margin-left: 100px;
    padding: 370px;

}
.image-container {
    position: relative;
    display: inline-block;
  }
  
  .button-container {
    position: absolute;
    top: 60%;
    left: 51%;
    transform: translate(-50%, -50%);

  }
  
  .image-button {
    display: block;
    margin-bottom: 10px;
  }

  .button-container {
    text-align: center; /* Optional: Centers the buttons horizontally */
}

.button-container button {
    display: inline-block;
    margin-right: 10px; /* Optional: Adds space between buttons */
    background-color: #837C6A;
    width: 120px;
    height: 30px;
    border-radius: 20px; 
}
